In [1]:
import pandas as pd

# Cargar datos
df = pd.read_csv('closing_prices.csv', delimiter=";")

In [2]:
df.head(5)

,PRODUCTO,TIPO CONTRATO,TIPO OPCION,EJERCICIO,FECHA,ANTERIOR,PRIMERO,MINIMO,MAXIMO,ULTIMO,VOLUMEN,AJUSTE / PRIMA REF.,T. IMPLICITA,VAR %,IA,VAR. IA,TRADES
0,CRN Matba,CRN.CME/FEB20,NaN,NaN,02-01-2020,"152,900000","154,500000","154,500000","154,500000","154,500000",200,"154,500000",NaN,"1,046436","2568,000000","200,000000",2
1,MAI Dolar MATba,MAI.ROS/ABR20,NaN,NaN,02-01-2020,"139,500000","139,000000","139,000000","140,100000","140,000000",66,"140,000000",NaN,"0,358423","8054,000000","-31,000000",32
2,MAI Dolar MATba,MAI.ROS/JUL20,NaN,NaN,02-01-2020,"133,700000","133,000000","133,000000","134,000000","133,600000",16,"133,700000",NaN,"0,000000","5308,000000","-3,000000",13
3,MAI MIN,MAI.MIN/ABR20,NaN,NaN,02-01-2020,"139,500000","140,000000","140,000000","140,100000","140,100000",128,"140,000000",NaN,"0,358423","244,000000","0,000000",5
4,MAI MIN,MAI.MIN/JUL20,NaN,NaN,02-01-2020,"133,700000","133,100000","133,100000","134,500000","134,500000",102,"133,700000",NaN,"0,000000","27,000000","-2,000000",3

In [3]:
df.columns

Index(['PRODUCTO', 'TIPO CONTRATO', 'TIPO OPCION', 'EJERCICIO', 'FECHA',
       'ANTERIOR', 'PRIMERO', 'MINIMO', 'MAXIMO', 'ULTIMO', 'VOLUMEN',
       'AJUSTE / PRIMA REF.', 'T. IMPLICITA', 'VAR %', 'IA', 'VAR. IA',
       'TRADES'],
      dtype='object')

In [4]:
# Seleccionar solo las columnas deseadas
columnas_deseadas = ['PRODUCTO', 'TIPO CONTRATO', 'FECHA', 'AJUSTE / PRIMA REF.']
df = df[columnas_deseadas]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29623 entries, 0 to 29622
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PRODUCTO             29623 non-null  object
 1   TIPO CONTRATO        29623 non-null  object
 2   FECHA                29623 non-null  object
 3   AJUSTE / PRIMA REF.  29623 non-null  object
dtypes: object(4)
memory usage: 925.8+ KB

In [6]:
df.head(1)

    PRODUCTO  TIPO CONTRATO       FECHA AJUSTE / PRIMA REF.
0  CRN Matba  CRN.CME/FEB20  02-01-2020          154,500000

In [7]:
# Convertir tipos de datos
df['FECHA'] = pd.to_datetime(df['FECHA'], format='%d-%m-%Y')

# Reemplazar comas por puntos y convertir a float
df['AJUSTE / PRIMA REF.'] = df['AJUSTE / PRIMA REF.'].str.replace(',', '.').astype(float)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29623 entries, 0 to 29622
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PRODUCTO             29623 non-null  object
 1   TIPO CONTRATO        29623 non-null  object
 2   FECHA                29623 non-null  datetime64[ns]
 3   AJUSTE / PRIMA REF.  29623 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 925.8+ KB

In [9]:
df.to_csv('closing_prices_limpio.csv', index=False)