In [21]:
import pandas as pd

# Cargar datos
df = pd.read_csv('closing_prices.csv', delimiter=";")

In [22]:
df.head(5)

,PRODUCTO,TIPO CONTRATO,TIPO OPCION,EJERCICIO,FECHA,ANTERIOR,PRIMERO,MINIMO,MAXIMO,ULTIMO,VOLUMEN,AJUSTE / PRIMA REF.,T. IMPLICITA,VAR %,IA,VAR. IA,TRADES
0,CRN Matba,CRN.CME/FEB20,NaN,NaN,02-01-2020,"152,900000","154,500000","154,500000","154,500000","154,500000",200,"154,500000",NaN,"1,046436","2568,000000","200,000000",2
1,MAI Dolar MATba,MAI.ROS/ABR20,NaN,NaN,02-01-2020,"139,500000","139,000000","139,000000","140,100000","140,000000",66,"140,000000",NaN,"0,358423","8054,000000","-31,000000",32
2,MAI Dolar MATba,MAI.ROS/JUL20,NaN,NaN,02-01-2020,"133,700000","133,000000","133,000000","134,000000","133,600000",16,"133,700000",NaN,"0,000000","5308,000000","-3,000000",13
3,MAI MIN,MAI.MIN/ABR20,NaN,NaN,02-01-2020,"139,500000","140,000000","140,000000","140,100000","140,100000",128,"140,000000",NaN,"0,358423","244,000000","0,000000",5
4,MAI MIN,MAI.MIN/JUL20,NaN,NaN,02-01-2020,"133,700000","133,100000","133,100000","134,500000","134,500000",102,"133,700000",NaN,"0,000000","27,000000","-2,000000",3

In [23]:
df.columns

Index(['PRODUCTO', 'TIPO CONTRATO', 'TIPO OPCION', 'EJERCICIO', 'FECHA',
       'ANTERIOR', 'PRIMERO', 'MINIMO', 'MAXIMO', 'ULTIMO', 'VOLUMEN',
       'AJUSTE / PRIMA REF.', 'T. IMPLICITA', 'VAR %', 'IA', 'VAR. IA',
       'TRADES'],
      dtype='object')

In [24]:
# Seleccionar solo las columnas deseadas
columnas_deseadas = ['PRODUCTO', 'TIPO CONTRATO', 'FECHA', 'AJUSTE / PRIMA REF.']
df = df[columnas_deseadas]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29848 entries, 0 to 29847
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PRODUCTO             29848 non-null  object
 1   TIPO CONTRATO        29848 non-null  object
 2   FECHA                29848 non-null  object
 3   AJUSTE / PRIMA REF.  29848 non-null  object
dtypes: object(4)
memory usage: 932.9+ KB

In [26]:
df.head(1)

    PRODUCTO  TIPO CONTRATO       FECHA AJUSTE / PRIMA REF.
0  CRN Matba  CRN.CME/FEB20  02-01-2020          154,500000

In [27]:
# Convertir tipos de datos
df['FECHA'] = pd.to_datetime(df['FECHA'], format='%d-%m-%Y')

# Reemplazar comas por puntos y convertir a float
df['AJUSTE / PRIMA REF.'] = df['AJUSTE / PRIMA REF.'].str.replace(',', '.').astype(float)

In [ ]:
# Reordenar las columnas según el nuevo orden deseado
df = df[['FECHA', 'PRODUCTO', 'TIPO CONTRATO', 'AJUSTE / PRIMA REF.']]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29848 entries, 0 to 29847
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PRODUCTO             29848 non-null  object
 1   TIPO CONTRATO        29848 non-null  object
 2   FECHA                29848 non-null  datetime64[ns]
 3   AJUSTE / PRIMA REF.  29848 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 932.9+ KB

In [29]:
# Contar los registros de cada producto
conteo_productos = df['PRODUCTO'].value_counts()

# Mostrar el conteo
print(conteo_productos)

PRODUCTO
SOJ Dolar MATba    5925
MAI Dolar MATba    5664
TRI Dolar MATba    4856
SOJ MIN            2796
MAI MIN            2706
SOY Matba          2607
TRI MIN            2202
CRN Matba          1921
SOJ Pesos MATba     375
MAI Pesos MATba     287
SOF MATba           161
TRI Pesos MATba     155
TRI Disponible      110
SOJ Disponible       37
NOVP Matba           20
MAI Disponible       14
SORGO                 6
TERP Matba            3
SORGO ARS             3
Name: count, dtype: int64

In [30]:
# Lista de productos a filtrar
productos_filtrados = [
    'SOJ Dolar MATba', 
    'MAI Dolar MATba', 
    'TRI Dolar MATba', 
    'TRI Disponible', 
    'SOJ Disponible', 
    'MAI Disponible'
]

# Filtrar el DataFrame
df_filtrado = df[df['PRODUCTO'].isin(productos_filtrados)]

# Mostrar el conteo de productos en el DataFrame filtrado
conteo_productos = df_filtrado['PRODUCTO'].value_counts()
print(conteo_productos)

PRODUCTO
SOJ Dolar MATba    5925
MAI Dolar MATba    5664
TRI Dolar MATba    4856
TRI Disponible      110
SOJ Disponible       37
MAI Disponible       14
Name: count, dtype: int64

In [31]:
# Guardar el DataFrame filtrado en un nuevo archivo CSV
archivo_filtrado = 'historico_spread.csv'
df_filtrado.to_csv(archivo_filtrado, index=False)